Repository RageTrade/core, pull requests merged in 2022-06, with the labels that each got.

#143 QSP-2: Update all pools during pause/unpause
  contracts/interfaces/clearinghouse/IClearingHouseCustomErrors.sol
  contracts/libraries/BatchedLoop.sol
  contracts/libraries/Protocol.sol
  contracts/protocol/clearinghouse/ClearingHouse.sol
  contracts/protocol/clearinghouse/ClearingHouseStorage.sol
  contracts/test/BatchedLoopTest.sol
  test/scenarios/ClearingHouse.spec.ts
  test/units/BatchedLoop.spec.ts
  test/units/StorageLayout.spec.ts
Labels: bug, quantstamp audit, clearinghouse

#160 QSP-1: Fixed protocol fees withdrawal
  contracts/interfaces/clearinghouse/IClearingHouseOwnerActions.sol
  contracts/libraries/Account.sol
  contracts/protocol/clearinghouse/ClearingHouse.sol
  contracts/protocol/clearinghouse/ClearingHouseStorage.sol
  contracts/protocol/wrapper/VPoolWrapper.sol
  test/scenarios/ClearingHouse.spec.ts
  test/units/StorageLayout.spec.ts
Labels: bug, clearinghouse

#146 QSP-11: Inverted Funding Rate Issue
  contracts/libraries/FundingPayment.sol
  contracts/libraries/VTokenPosition.sol
  test/scenarios/ClearingHouseScenario1.spec.ts
  test/scenarios/ClearingHouseScenario2.spec.ts
  test/scenarios/ClearingHouseScenario3.spec.ts
  test/scenarios/ClearingHouseScenario4.spec.ts
  test/scenarios/ClearingHouseScenario5.spec.ts
  test/scenarios/ClearingHouseScenario6.spec.ts
  test/scenarios/ClearingHouseScenario7.spec.ts
  test/scenarios/ClearingHouseScenario8.spec.ts
  test/scenarios/ClearingHouseScenario9.spec.ts
  test/units/FundingPayment.spec.ts
Labels: bug, quantstamp audit

#153 QSP-13: Use confirmation while transferring governance
  contracts/interfaces/IGovernable.sol
  contracts/interfaces/clearinghouse/IClearingHouseSystemActions.sol
  contracts/protocol/RageTradeFactory.sol
  contracts/protocol/clearinghouse/ClearingHouse.sol
  contracts/protocol/clearinghouse/ClearingHouseDeployer.sol
  contracts/test/Governable.sol
  contracts/utils/Governable.sol
  test/units/Governable.spec.ts
  test/units/RageTradeFactory.spec.ts
Labels: enhancement, quantstamp audit, clearinghouse

#147 QSP-6: Fix multicall for liquidations by keepers
  contracts/protocol/clearinghouse/ClearingHouse.sol
Labels: bug, quantstamp audit, clearinghouse

#151 QSP Best Practices
  contracts/protocol/RageTradeFactory.sol
  contracts/protocol/clearinghouse/ClearingHouse.sol
  contracts/protocol/clearinghouse/ClearingHouseStorage.sol
  contracts/utils/ProxyAdmin.sol
  contracts/utils/TimelockControllerWithMinDelayOverride.sol
  contracts/utils/TransparentUpgradeableProxy.sol
  hardhat.config.ts
  package.json
  yarn.lock
Labels: refactor, quantstamp audit

#148 RT-6: Liqudity Change (Close Token Position)
  contracts/libraries/VTokenPositionSet.sol
Labels: bug

#155 RT-2: Liquidity change bug
  contracts/libraries/LiquidityPosition.sol
Labels: bug

#145 RT-1: Price Caching
  contracts/libraries/Account.sol
  contracts/libraries/Block.sol
  contracts/libraries/Protocol.sol
  contracts/libraries/SafeCast.sol
  contracts/libraries/VTokenPosition.sol
  contracts/libraries/VTokenPositionSet.sol
  contracts/protocol/clearinghouse/ClearingHouse.sol
  contracts/protocol/clearinghouse/ClearingHouseView.sol
  contracts/test/mocks/ArbSysMock.sol
  test/fixtures/vETH.ts
  test/scenarios/ClearingHouse.spec.ts
  test/scenarios/ClearingHouseScenario1.spec.ts
  test/scenarios/ClearingHouseScenario2.spec.ts
  test/scenarios/ClearingHouseScenario3.spec.ts
  test/scenarios/ClearingHouseScenario4.spec.ts
  test/scenarios/ClearingHouseScenario5.spec.ts
  test/scenarios/ClearingHouseScenario6.spec.ts
  test/scenarios/ClearingHouseScenario7.spec.ts
  test/scenarios/ClearingHouseScenario8.spec.ts
  test/scenarios/ClearingHouseScenario9.spec.ts
  test/scenarios/MarketValueAndReqMargin.spec.ts
  test/units/AccountBasic.spec.ts
  test/units/AccountRealistic.spec.ts
  test/units/StorageLayout.spec.ts
  test/units/VTokenPositionSet.spec.ts
Labels: enhancement, clearinghouse
